<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Default value 5 -->
    <!--add key="MaxFilterLength" value="9"/-->

    <!-- Add numbers or prefixes to whitelist here -->
    <add key="Number:0123456789" />
    <add key="Number:0987654321" />
  </appSettings>
</configuration>